<h1>Listing cars</h1>

<div style="float: left">
  <h2>Sold</h2>
  <%= render :partial => 'table', :locals => { :cars => @sold_cars } %>
</div>

<div style="float: left">
  <h2>Unsold</h2>
  <%= render :partial => 'table', :locals => { :cars => @unsold_cars } %>
</div>

<div style="clear: both"></div>

<%= link_to 'New Car', new_car_path %>
